# **Project Name**    -

##### **Project Type**    - EDA
##### **Contribution**    - Individual
VIVEK KUMAR SINGH

# **Project Summary -**

Since 2008, guest and host has used Airbnb to expand on travelling possibilities and present a more unique and personalised way of experienceing the world. Today airbnb has became a kind of a service that is used and recagonised by the wholw world. Data analysis on million of listings provided through Air bnb is a crucial factor for the company. These millions of listing generates a lot of data - data can be analysed and used for security, bussiness decession, understanding of customers and providers behaviour and performance on the platform, guiding marketing initiatives,  implimentation of inovative aditional services and much more. This dataset has around 49000 observations in it with 16 columns and it is a mix of catagorical and numerical values.Explore and analyse the data to discover key understandings.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

**Write Problem Statement Here.**

Mr.Vivek has 2 property in different location. He want to list his property on airbnb, but before listing he wants to know the various parameters like, price, demand, booking duration, type of customer and various other parameters so that he could estimate about the revenue.

#### **Define Your Business Objective?**

Following are the Business Objective:-
- To know maximum, minnimum, median prices of different types of rooms in
  different locations.
- factor affecting above mentioned point.
- Preferd choice of room type by customers.
- Most prefered locations.
- Which are the top 25 most used words in listing names.
- Top 10 host with most listing
- Top 10 higest listing neighborhood

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/almabetter programin asignment/EDA-3- AIR BNB/Airbnb NYC 2019.csv')

### Dataset First View

In [ ]:
# Dataset First Look
df

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.pivot_table(index=['host_id','host_name','neighbourhood_group','neighbourhood'], aggfunc ='size')

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isna().sum()

In [ ]:
# Visualizing the missing values
df.isna()

### What did you know about your dataset?

- There are 48895 rows and 16 columns.
- There are 16 NAN values  in name column, 21 in neighbourhood_group, 10052 in last review and review per month column.
- Few duplicate values are there which will be dropped during analysis.
- most of the values are int64 type and few are of float64 and very few are of object type.
- Data is in csv format.

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe, brief information about numerical values in our dataset
df.describe()

### Variables Description

1   Name                     -  Name of Property               
2   Host_id                  -  Alocated identity number to individual prorpety

3   Host_name                -  Name of person who is booking the property             
4   Neighbourhood_group      -  Neighbouring group         
5   Neighbourhood            -  Neighbourhood places name      
6   Latitude                 -  Latitude     
7   Longitude                -  Longitude      
8   Room_type                -  Type of room(private, entire home/app, shared)

9   Price                    -  price in $       
10  Minimum_nights           -  stay for minimum night      
11  Number_of_reviews        -  Total number of review       
12  Last_review              -  Last Review     
13  Reviews_per_month        -  Reviews per month    
14  Calculated_host_listings_count  -   Host listing count
15  Availability_365  -   Number of days for which property is available out of 365 days

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
df['name'].unique()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
#replacing all '0' with NAN
df.replace(0, np.nan, inplace=True)

In [ ]:
df

In [ ]:
#droping NAN values as 'last_review','reviews_per_month','host_name','name' can not be imputed.
df.drop(['last_review','reviews_per_month','host_name'],axis=1, inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.shape

### What all manipulations have you done and insights you found?

- Initially there were (48895, 16) rows and columns
- After data cleaning only (4895, 13) data is left
- All zeros are replaced by NAN values.
- All Nan values are droped as they can not be imputed because Nan values were in following columns.                                
 - Host_id                         
 - Host_name                        
 - Last_review                    
 - Reviews_per_month

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
#finding outliers for price
sns.boxplot( y= df['price'])
plt.title('PRICE IN $')
plt.show()

##### 1. Why did you pick the specific chart?

- For univariate analysis.
- To know any outlyer is there or not, if yes then how to handel it.

##### 2. What is/are the insight(s) found from the chart?

- Following insights are obtained :-
  - Only one property is there whose price is 1000$

  - Most of the propertys  has there price below 4000$

  - Few propertys are in the range of 4001  to  8000 $

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

- Yes by knowing the price most feasible price range we can decide optimum price of our property.

- No insights are found that lead to negative growth.

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
# finding outliers for rooms availability for out of 365 days
sns.boxplot(y=df["availability_365"])
plt.title('No. of days for which room is available out of 365 days')
plt.show()

##### 1. Why did you pick the specific chart?

- To do the unveriate analysis of number of days for which property is booked

##### 2. What is/are the insight(s) found from the chart?

- max day for which propety is booked is 350 days.
- 50 quartile is found on 50 days
- 75 quartile is found on 225 days(median)
- 25 quartile shows for (0-1) day

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

- Optimum range of days for which property is booked is from (1-225) days.
-  Very few cases are there where property is booked for more than 225 days.
- No insights are found which leads to negative growth.

#### Chart - 3

In [ ]:
# Chart - 3 visualization code
#Average price of property according to location.
avg_price_df = df.groupby(['neighbourhood_group','room_type'], as_index=False)['price'].mean()
avg_price_df

In [ ]:
#graph of avg price of property with respect to location.
plt.figure(figsize=(13, 4))
sns.barplot(data= avg_price_df, y='price',x='neighbourhood_group', hue='room_type')
plt.xlabel=('neighbourhood_group')
plt.ylabel=('price in $')
plt.title =('avg price of property with respect to location')
plt.show()

##### 1. Why did you pick the specific chart?

To performe multi-veriate analysis of price and location with price variation of type of room.

##### 2. What is/are the insight(s) found from the chart?

- Maximum price is for entire home/apt in manhattan.

- Minimum price is for shared room in Brooklyn.
- At every location price is higher for entire home/apt and lower for shared room.

- Price difference for entire home/apt and shared room is higher for Brooklyn and lower for Bronx.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

- Gained insights will help in deciding the price of our property and location.
- No insights are found that lead to the negative growth.

#### Chart - 4

In [ ]:
# Chart - 4 visualization code
#Most favoured location by hosts/ No. of host per location.
host_per_location =df.groupby('neighbourhood_group')['host_id'].count()
host_per_location

In [ ]:

plt.plot(host_per_location)

plt.show()

##### 1. Why did you pick the specific chart?

- For univeriate analysis to determine the most prefered location by the hosts.

##### 2. What is/are the insight(s) found from the chart?

- Most liked destination by hosts is Manhattan.
- Least liked destination is staten island.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

- It is advisible to open property in Manhattan as it is most prefered destination by hosts.

- Least prefered destination is staten island.

#### Chart - 5

In [ ]:
# Chart - 5 visualization code
#graph to display maximum and minimum price for a neighbourhood_group.
#finding max price by neighbourhood_group.
max_price=df.groupby('neighbourhood_group')['price'].max()
max_price

In [ ]:
#finding minimum price by location
min_price = df.groupby('neighbourhood_group')['price'].min()
min_price

In [ ]:
#merging min and max price by location
merge = pd.merge(max_price,min_price, on='neighbourhood_group')
merge

In [ ]:
#latitude and longitude analysis to know which location has max prorpety and how its distributed
sns.scatterplot(data = df, x='latitude',y='longitude',hue='neighbourhood_group')
plt.show()

##### 1. Why did you pick the specific chart?

- Bi-variate analysis of longitude and lattitude to know the distribution of property.

##### 2. What is/are the insight(s) found from the chart?

- Maximum number of property is available in Queens.
- Least number of property is available in staten island.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

N/A

#### Chart - 6

In [ ]:
# Chart - 6 visualization code
total_room_types = df.groupby('room_type').count()
total_room_types
plt.figure(figsize=(8,4))
sns.barplot(data= total_room_types, y='id', x='name')
plt.xlabel='Room Type'
plt.ylabel='Room type count'
plt.title='Room type vs Room type count'
plt.show()

##### 1. Why did you pick the specific chart?

For doing bi- variate analysis of room type and room type count.

##### 2. What is/are the insight(s) found from the chart?

Maximum room availablity is of, Entire appartment/House. shown in green colour.

Minmum room availablity is of, Shared room. shown in Blue colour.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

The gained insight is the max avalibility and demand is for entire appartment/Home.

Least avalibility is for shared rooms.

This insight will help us to know which type of room is available in abandunt quantiy and most demended type of Property.

#### Chart - 7

In [ ]:
# Chart - 7 visualization code
#Finding total nights spend per location.
total_nights=df.groupby('neighbourhood_group')['minimum_nights'].sum().reset_index()
final_nights=total_nights.sort_values('minimum_nights',ascending=True)
final_nights.head()

In [ ]:
# visualization of total no. nights spend per location using seaborn
sns.set(rc={'figure.figsize':(10,5)})
sns.set_style('white')
abc= sns.barplot(x='neighbourhood_group',y='minimum_nights',data = final_nights)
abc.set_title('find total no. nights spend per location')
abc.set_ylabel('minimum night')
abc.set_xlabel('neighbourhood group')

abc.set_xticklabels(abc.get_xticklabels(),rotation = 45,size='15')
plt.show()

##### 1. Why did you pick the specific chart?

Bi- variate analysis for total number of nights stayed per location.

##### 2. What is/are the insight(s) found from the chart?

Maximum night stayed by the guests are in Manhattan location followed by Brooklyn and least night stayed is in Staten Island followed by Bronx.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

N/A

#### Chart - 8

In [ ]:
# Chart - 8 visualization code
#Finding % of types of rooms available using pie chart.

# find unique value of room types
list(df['room_type'].unique())

In [ ]:
total_room=df.groupby(  'room_type')['minimum_nights'].sum().reset_index()
room_types=total_room.sort_values('minimum_nights',ascending=True)
room_types.head()

In [ ]:
# create dataset
labels=list(room_types['room_type'])
sizes=list(room_types['minimum_nights'])
# create color parameter
colors=['blue','red','orange']
# create explode
explode = (0.07, 0.07, 0.07)

In [ ]:

#creating pie chart
plt.pie(sizes,explode=explode,labels=labels,colors=colors,autopct='%1.1f%%')
plt.title('total no. of nights spend per room types', fontsize=20)
plt.axis("equal")
plt.show()

##### 1. What is/are the insight(s) found from the chart?

62.9% is Entire home/apt.

2.2% are shared rooms.

34.9% are private rooms.

#### Chart - 9

In [ ]:
# Chart - 9 visualization code
# find listing value of all neighourhood in dataset
neighour=df['neighbourhood'].value_counts().sort_values(ascending=False).reset_index()
#top ten neighourhood with listing value
top_10=neighour[:10]
top_10

In [ ]:
#make copy of top_10
final_10=top_10.copy()
#rename that dataframe
final_10.rename(columns={'index':'neighourhood','neighbourhood':'listing_value' },inplace=True)

final_10

In [ ]:

# data visualizing with barplot
sns.set(rc={'figure.figsize':(12,7)})
sns.set_style('white')
#Plotting the Chart
abc= sns.barplot(x='neighourhood', y='listing_value',data = final_10)
abc.set_title('find total no. nights spend per location')
# Naming X & Y axis
abc.set_ylabel('listing value')
abc.set_xlabel('neighourhood')
#Adjusting Bar labels

abc.set_xticklabels(abc.get_xticklabels(),rotation = 90,size='15')
plt.show()

#### Chart - 10

In [ ]:
# Chart - 10 visualization code
sns.heatmap(df.isnull(),yticklabels=False)

##### 1. Why did you pick the specific chart?

For data vissulization of null values.

##### 2. What is/are the insight(s) found from the chart?

Most of the null values are in last review and review per month column and few null values are in name and host id column.

#### Chart - 11 - Pair Plot

In [ ]:
# Pair Plot visualization code
sns.pairplot(df,hue='room_type')
plt.show()

##### 1. Why did you pick the specific chart?

For performing multi-variate analysis.

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ?
Explain Briefly.

- Best Location for Mr. VIVEK to open his property is in Manhatten as it is the
  most prefered destination by guests and guests are ready to pay heavy prices to book the property here.

- He can also open his prorpety in Brooklyn as it is second most prefered
  locaton by guests and guests are ready to pay good price in this location.

- He should not prefer to open property in staten island as it is least  
  prefered location by guests.

# **Conclusion**

Conclusion

- Manhattan is the most focused place in New York for hosts to do their business

- Customers pay highest amount in Brooklyn,Queens and Manhattan that is 10,000
  and lowest amount is 10$.

- For the three types of room type (i.e. Entire home, Shared room, & Private
  room) average price of entire home is around $157, for shared room is around 60, and for private room is around 75.

- 'Entire home/apt' room type has the highest number of listing of 52% and
  ‘Shared Room’ is the least listed room type at only 2.4% in total.

- People stay for longer duration of time in Private rooms in Brooklyn and
  Manhattan.

- More customer preferred Manhattan location for night stay then Brooklyn *63.
  2% customer spend night in Entire home and 1.6% spend night in Shared room

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***